/* 
 * audiOwl
 * Global CSS
 */

/* Global Definitions */
* {
	margin: 0;
	padding: 0;
}
body {
	font: small "Trebuchet MS", Tahoma, Verdana, Arial;
	color: #333;
	background: #000;
}
a {
	color: #F4F4F4;
	text-decoration: none;
	font-weight: bold;
}
a:focus {
	border: 0;
	outline: 0;
}
header {
	position: fixed;
	float: left;
	height: 50px;
	width: 180px;
}
p {
	margin: 5px 0;
	color: #F4F4F4;
}
h1 {
	font-size: 2em;
	color: #CCC;
	padding-left: 20px;
}
ul {
	list-style: upper-roman;
	font-size: 1em;
}
li {
	font-size: 1em;
	color: #F4F4F4;
}

/* Forms  */
fieldset {
	border: 1px solid #CCC;
	width: 55%;
	padding: 10px;
}
legend {
	padding: 5px;
	background: #CCC;
	color: #333;
}
label {
	font-weight: bold;
	cursor: pointer;
	padding: 5px;
	color: #CCC;
}
label:focus, label:hover {
	background: #CCC;
	color: #000;
}
input {
	outline: 0;
	border: 2px solid #333;
	background: #CCC;
}
button {
	border: 2px solid #333;
	padding: 3px;
	color: #000;
	background: #CCC;
}
input:focus, button:focus {
	outline: 0;
	border-color: #ff8300;
}

/* Tables */
table {
	padding: 0;
	margin: 5px;
}
tr {
	vertical-align: top;
}
td {
	border-bottom: 1px solid #DDD;
	padding: 5px 12px;
}

/* Navigation */
nav {
	position: fixed;
	border-right: 1px solid #F4F4F4;
	width: 185px;
}
nav ul {
	list-style: none;
	width: 180px;
}
nav ul li {
	width: 180px;
	height: 25px;
	background: #CCC;
	color: #000;
	border: 1px solid #000;
	text-transform: uppercase;
}
nav a {
	display: block;
	width: 170px;
	height: 20px;
	padding: 5px 0 0 10px;
	color: inherit;
	border: 0;
}
nav a.active {
	background: transparent url(/images/icon-active.png) left center no-repeat;
	color: #AB4AB4;
}
nav a:focus, nav a:hover {
	background: #333 url(/images/icon-hover.png) left center no-repeat;
	color: #A4A4A4;
	border: 0;
}

/* Template Defintions */
#wrapper {
	float: left;
	width: 80%;
	margin: 20px 0 0 200px;
}

/* Misc. Classes */
.hidden {
	display: none;
}
.center {
	text-align: center
}
