/* 
 * audiOwl
 * Global CSS
 */

/* Global Definitions */
* {
	margin: 0;
	padding: 0;
}
body {
	font: 1.3em "Trebuchet MS", Tahoma, Verdana, Arial;
	color: #333;
	background: #000;
	overflow-x: hidden;
}
a {
	color: #F4F4F4;
	text-decoration: none;
	font-weight: bold;
}
a:focus {
	border: 0;
	outline: 0;
}
header {
	position: fixed;
	float: left;
	height: 2em;
	width: 9em;
}
p {
	margin: 5px 0;
	color: #F4F4F4;
}
h1 {
	font-size: 2em;
	color: #CCC;
	margin: 0 auto;
}
ul {
	list-style: upper-roman inside;
	font-size: 1em;
}
li {
	font-size: 1em;
	color: #F4F4F4;
}

/* Forms  */
fieldset {
	border: 1px solid #CCC;
	width: 55%;
	padding: 10px;
}
legend {
	padding: 5px;
	background: #CCC;
	color: #333;
}
label {
	font-weight: bold;
	cursor: pointer;
	padding: 5px;
	color: #CCC;
}
label.hover {
	background: #CCC;
	color: #000;
}
input {
	outline: 0;
	border: 2px solid #333;
	background: #CCC;
}
input:focus {
	outline: 0;
	border-color: #FF8300;
}
button {
	border: 2px solid #333;
	padding: 3px;
	color: #000;
	background: #CCC;
}
button:focus {
	color: #CCC;
	background: #333;
	border-color: #FF8300;
}

/* Tables */
table {
	padding: 0;
	margin: 5px;
}
tr {
	vertical-align: top;
}
td {
	border-bottom: 1px solid #DDD;
	padding: 5px 12px;
}

/* Navigation */
nav {
	position: fixed;
	border-right: 1px solid #F4F4F4;
	width: 8em;
	height: 2em;
}
nav ul {
	list-style: none;
	width: 8em;
	height: 2em;
}
nav ul li {
	width: 8em;
	height: 2em;
	background: #CCC;
	color: #000;
	border: 1px solid #000;
	text-transform: uppercase;
}
nav a {
	display: block;
	width: 7.6em;
	height: 1.6em;
	padding: 0.4em 0 0 0.4em;
	color: inherit;
	border: 0;
}
nav a.active {
	color: #AB4AB4;
}
nav a.active:before {
	content: ">";
	font-size: 0.8em;
	padding: 0 5px 0 0;
}
nav a:focus, nav a:hover {
	background: #333;
	color: #A4A4A4;
	border: 0;
}
nav a:focus:after {
	content: "<";
	font-size: 0.8em;
	padding: 0 0 0 5px;
}

/* Template Defintions */
#wrapper {
	float: left;
	width: 50em;
	margin: 20px 0 0 200px;
}

/* Misc. Classes */
.hidden {
	display: none;
}
.center {
	text-align: center
}
